*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
#navbar{
    background: #fdead8;
    padding: 15px 20px;
    display: flex;
}

#navbar h1{
    width: 48%;
    color:rgb(41, 39, 39);
}
#navbar h1 .span-style{
    color:#277C74;
}
#navbar p{
    width: 48%;
    text-align: right;
    font-size: 18px;
    color:cadetblue;
}
