*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(205, 206, 211, 0.3), rgba(217, 224, 231, 0.3));
}
#navbar{
    padding: 15px 20px;
    display: flex;
}

#navbar h1.h1{
    width: 48%;
    color:rgb(41, 39, 39);
}
#navbar h1 .span-style{
    color:#f0cd0b;
}
#navbar p.p{
    width: 48%;
    text-align: right;
    font-size: 18px;
    color:rgb(41, 39, 39);
    font-weight: 700;
}
#navbar p .number{
    color:#eecc0a;
}

/* nav css end ================================= */

#protfolio{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}
#protfolio .left{
    width:46%;
    padding-left:2%;
    margin: 2%;
}
#protfolio .left .italic{
    font-style: italic;
}
#protfolio .left .are{
    color:#e4c309;
    text-transform: uppercase;
}
#protfolio .left .welcome{
    text-transform: uppercase;
    font-size: 40px;
}
#protfolio .left .leader{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    color:rgb(223, 223, 13);
}
#protfolio .left .prot-pera{
    text-transform: capitalize;
}
#protfolio .left .hire-me-btn{
    text-decoration: none;
    display: inline-block;
    padding:15px 40px;
    background: linear-gradient(rgba(79, 80, 29, 0.3), rgba(29, 145, 160, 0.3));
    text-transform: uppercase;
    font-size: 20px;
    color:rgb(251, 255, 0);
    margin-top: 40px;
    border-radius: 30% 70% 33% 67% / 30% 69% 31% 70% ;
    font-style: italic;
    box-shadow: 0 3px 5px 0 black;
}

#protfolio .right{
    width:46%;
    padding:2%;
    margin: 0 2%;  
    border-radius:84% 16% 88% 12% / 24% 77% 23% 76% ;
    box-shadow: 3px 3px 10px 0 black;
    background: linear-gradient(rgb(0, 0, 0, .2), rgb(255, 255, 255, .3));
}

#protfolio .right .img{
    width:350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
#protfolio .right .img img{
    width:100%;
}

/* service start=================== */

#services{
    display: flex;
    margin-top: 150px;
    padding-bottom: 70px;
}
#services .left{
    width: 46%;
    padding: 2%;
    box-shadow: 1px 3px 10px 0 rgb(0, 0, 0, .2);
    margin-left: 2%;
    padding-bottom: 70px;
}
#services .left h1{
    font-size: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#services .left h3{
    font-size: 25px;
    color:rgb(209, 209, 7);
    margin-bottom: 20px;
    text-transform: capitalize;
}
#services .left span{
    font-size: 25px;
    border-right: 5px solid rgb(240, 240, 10);
    margin-right: 10px;
    padding-right: 10px;

}
#services .left p{
    text-transform: capitalize;
}
#services .right{
    width: 46%;
    margin-left:2%;
}
#services .right{
    width: 46%;
    padding: 2%;
    padding-bottom: 70px;
    box-shadow: 1px 3px 10px 0 rgb(0, 0, 0, .2);
}
#services .right h1{
    font-size: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#services .right h3{
    font-size: 25px;
    color:rgb(209, 209, 7);
    margin-bottom: 20px;
    text-transform: capitalize;
}
#services .right span{
    font-size: 25px;
    border-right: 5px solid rgb(240, 240, 10);
    margin-right: 10px;
    padding-right: 10px;

}
#services .right p{
    text-transform: capitalize;
}

